{% extends "::base.html.twig" %}

{% block stylesheets %}
	    {% 
        		stylesheets output='css/contact.css' 
        		'@SiteHomeBundle/Resources/public/css/contact.css'
        %}        		
        	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
        {% endstylesheets %}
{% endblock %}


{% block bandeau %} {% endblock %}

{% block body %}

	<div id="formulaire-contact" class="span-10 prepend-2 prepend-top">
		<fieldset class="formulaire">
			<legend> Nous contacter </legend>
			
			<form action="#" method="post">
				{% render "IHQSContactBundle:Contact:form" %}
			</form>
		</fieldset>
		<fieldset class="formulaire">
			<legend> Réserver la salle pour baptèmes, mariages, anniversaires </legend>
			
			<form action="#" method="post">
				{% render "IHQSContactBundle:Contact:form" %}
			</form>
		</fieldset>
	</div>
	<!-- 3, Route de la queue en brie - 94880 NOISEAU -->
	<div id="plan-acces" class="span-8 prepend-1 prepend-top">
		<img id="google-map" class="prepend-top" src="http://maps.googleapis.com/maps/api/staticmap?center=94880+1+Route+De+la+queue+en+brie&zoom=15&size=356x246&maptype=roadmap
&markers=color:red%7Clabel:D%7C48.77705,2.55044&sensor=false">
	</div>
<!--
	<div class="span-10 prepend-2 prepend-top append-bottom">
		
	</div>
-->
	<div class="span-8 prepend-1 prepend-top last append-bottom" id="contact">
		{% for article in boucleArticles({ "idArticle" : 3 }) %}
			<h2 class="block-title">{{ article.titre }}</h2>
			<div class="block-content">
				{{ article.texte | raw | nl2br }}
			</div>
		{% endfor %}
	</div>
	
{% endblock %}