{% set idRubriqueBandeau = 7 %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}restaurantdiclarenzo{% endblock %}</title>
        <!-- Fichier de définition css -->
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
		<link href='http://fonts.googleapis.com/css?family=Prosto+One|Great+Vibes' rel='stylesheet' type='text/css'>
		<!–[if IE]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]–>
        {% 
        		stylesheets output='css/compressed.css' 
        		'../app/public/css/global.css'
        		'../app/public/css/blocks.css'
        		'../app/public/css/effect.css'
        		'@EyeswebcreaReferencementBundle/Resources/public/css/global.css'
        		'@EyeswebcreaSliderBundle/Resources/public/css/Slider.css'
        %}        		
        	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        
        <!-- Fichiers de script javascript -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
        
        {% 
        		javascripts output='js/compressed.js' 
        		'../app/public/js/global.js'
        		'@EyeswebcreaSliderBundle/Resources/public/js/slides.min.jquery.js'
        %}        		
        	<script src="{{ asset_url }}"></script>
        {% endjavascripts %}
   		{% block javascripts %}{% endblock %}
   		{% include "GoogleBundle:Analytics:async.html.twig" %}
    </head>
    <body>
  			    		{% if app.session.getFlashes() is not empty %}
			    			<div id="notice" class="notice">
				    			<ul>
					    			{% for key, flash in app.session.getFlashes() %}
										  <li>{{ flash }}</li>
									{% endfor %}
								</ul>
							</div>
						{% endif %}
    <div id="page" class="container">
    	<div id="header" class="span-24 last">
    		<div id="header-content" class="span-24 last">
				{% block header %}{% include "::header.html.twig" %}{% endblock %}
    		</div>
    	</div>
    	<div id="body" class="span-24 last">
    		<div id="body-content" class="span-24 last">
    			<div class="span-24 last" id="conteneur-bandeau">
    				{% block bandeau %} 
						{% include "::bandeau.html.twig" with {"idRubriqueBandeau" : 35, "hauteurBandeau" : 200} %}
	    			{% endblock %}
    			</div>
    			<div>
	    			<div class="span-24 last" id="conteneur-bas">
		    			<div id="conteneur-bas-partie-milieu"  class="span-24 last" style="">
		    				{% block body %}{% endblock %}
		    			</div>
		    			<div id="conteneur-bas-partie-basse" class="span-24 last"></div>
	    			</div>
	    			
    			</div>
    		</div>
    	</div>
    </div>
       <div id="footer">
    		<div id="footer-content" class="container"> 
    			{% block footer %}{% include "::footer.html.twig" %}{% endblock %}
    		</div>
    	</div>
    
    </body>
</html>
