	<img id="cerise" src="/css/images/fotolia_17975758.png">
	<!--
		Decoration supprimé non fonctionelle sous ie7
	<img id="decoration-left" src="/css/images/fotolia_25634387.png">
	<img id="decoration-right" src="/css/images/fotolia_25634387-right.png">
	-->
	<div class="referencement">
		{% render "EyeswebcreaReferencementBundle:Default:listReference" %}
	</div>


<div id="footer-real" class="block container">
	<p>Diclarenzo | <a href="mailto:gq@eyeswebcrea.fr">Webmaster</a> | <a href="#">Mentions légales</a> | conception Eyeswebcrea 2012 - 2013</p>
	<p id="email-link"><a target="blank" rel="nofollow" href="https://mail.restaurantdiclarenzo.com/">E-mail</a></p>
</div>

