    			<a href="{{ path('SiteHomeBundle_homepage') }}"><h1 class="title span-8"><img src="/images/logo.png"><p>Di'Clarenzo</p></h1></a>
    			<div class="menu span-16 last">{{ knp_menu_render('SiteHomeBundle:MainBuilder:build') }}</div>
    			<div id="telephone" class="transition-effect">01.49.62.07.94</div>
