[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Comp image
Type=Link
URL=http://download.fotolia.com/Content/CompImage/FotoliaComp_37741478_PGypRJvflqUGs0Fa44xPYhxhZNBFELMT
Icon=image-jpeg
