div.arborescense {
	border: solid black 2px;
	border-radius: 5px;
	margin: 5px;
}

div.arborescense ul {
	padding: 0px;
	margin: 0px;
}

div.arborescense ul li {
	list-style: none;
	padding: 5px;
	background: blue;
	margin: 5px;
	color: white;
}

table {
	border: solid black 2px;
	margin: auto;
}

table tr td, table tr th {
	padding: 5px;
	text-align: center;
}

table tr, table tr a {
	background: gray;
	color: lightgray;
}

table tr:nth-child(odd), table tr:nth-child(odd) a {
	background: lightgray;
	color: gray;
}

table tr:hover, table tr:hover a {
	cursor: pointer;
	background: white; 
	color: gray;
}

div#secuserspace_adminbundle_global_container {
	overflow: hidden;
}

div#securerspace_adminbundle_global_left {
	width: 25%;
}

div#secuserspace_adminbundle_global_container > div {
	float: left;
}
