body {
	background-color: #36264b;
	background-image: url("http://download.fotolia.com/Content/CompImage/FotoliaComp_37741478_PGypRJvflqUGs0Fa44xPYhxhZNBFELMT");

	background-position: top;
	color: white;
}

h1, h2, h3, h4, h5, h6 {
	color: white;
}

h2 {
	font-weight: bold;
}

h2.titre {
	font-family: 'Great Vibes', cursive;
	font-size: 35px;
	text-shadow: 1px 1px 1px gray;
}

p.center {
	text-align: center;
}

div#page {
	margin-top: 50px;
	box-shadow: 1px 1px 2px black;
	-moz-box-shadow: 1px 1px 2px black;
	-webkit-box-shadow: 1px 1px 2px black;
	background-color: #780600;
	z-index: 2;
}

div#conteneur-bandeau {
	position: relative;
}

img#appotre
{
	position: absolute;
	z-index: 10;
	right: 0px;
	box-shadow: none !important;
}

div.slides_container, div.slides {
	height: 250px;
	width: 950px;
}

/* En tete */


/* --- Menu */

div#header-content {
		border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

div#header {
	background-color: #274E31;
	background-image: url("/images/liseret bandeau.png");
	background-repeat: repeat-x;
	background-position: bottom;
	height: 100px;
	border-bottom: solid maroon 1px;
}

div#header h1.title  {
	overflow: hidden;
}

div#header h1.title img {
	float: left;
}

div#header h1.title p {
	float: left;
	width: auto;
	margin-top: 30px;
	margin-left: 10px;
	font-size: 22px;
	text-align: right;
	border-bottom: solid white 2px
}

a {
	cursor: pointer;
	text-decoration: none;
}

div#header div.menu {
	overflow: hidden;
	margin-top: 15px;
}

div#header div.menu li {
	float: left;
	list-style: none;
}

div#header div.menu li a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	display: block;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	border-bottom-left-radius: 45px 15px;
	-moz-border-bottom-left-radius: 45px 15px;
	-webkit-border-bottom-left-radius: 45px 15px;
	background: #D10B00;
	margin: 10px;
	border-bottom: solid white 2px;
		
}

div#header div.menu li a:hover
{
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 15px;
	-moz-border-bottom-right-radius: 0px;
	-moz-border-bottom-left-radius: 15px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 15px;
	padding-bottom: 20px;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
}

div#header div.menu li a:hover, div#header div.menu li.current a {
	background: green;
}

:root div.menu ul li a {
	-webkit-transition-property: all;
	-webkit-transition-duration: 350ms;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-property: all;
	-moz-transition-duration: 350ms;
	-moz-transition-timing-function: ease-in-out;
}

div#header div.menu li.current a {
	border-bottom: solid white 2px;
}


div#footer {
	margin-top: 10px;
	color: white;
	padding-top: 10px;
	background-color: #1D0F26;
	padding-bottom: 10px;
	margin-top: 100px;
}

div#footer-content {
	position: relative;
}

div#footer img#cerise {
	position: absolute;
	bottom: 30px;
	left: 45%;
}

div#footer img#decoration-left {
	position: absolute;
	bottom: 30px;
	left: 0;
	z-index: 1;
}

div#footer img#decoration-right {
	position: absolute;
	bottom: 30px;
	right: 0;
	z-index: 1;
}

div#footer-real { 	 text-align: center;}

/* Formulaire */

fieldset.formulaire {
	padding: 0px;
	border: none;
	border-top: solid 2px #902707;
}

fieldset.formulaire legend {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

fieldset.formulaire form div div {
	overflow: hidden;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: left;
} 

fieldset.formulaire form div div:hover {
	background: #8A1900;
	color: white;
} 



fieldset.formulaire form div div:hover label::before {
	content: ">> ";
} 

fieldset.formulaire form div div label
{
	display: block;
	float: left;
	width: 80px;
	text-align: right;
	padding-right: 5px;
}

fieldset.formulaire form input[type=submit]
{
	padding: 10px;
	float: right;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	background: #8A1900;
	color: white;
}


fieldset.formulaire form input, textarea {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border: solid #4C0400 2px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}


fieldset.formulaire form textarea
{
	height: 100px;
}


/* #email-link */
div#footer-real {
	position: relative;
}

div#footer-real p {
	margin: 0px;
}

p#email-link {
	position: absolute;
	right: 0px;
	top: 0px;
}

p#email-link a {
	color: transparent;
	font-size: 15px;
}


p#email-link a:hover {
	color: white;
}

div#header {
	position: relative;
}

:root div#telephone:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
}

div#telephone {
	position: absolute;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
	background: green;
	right: 0px;
	top: -32px;
	font-size: 15px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}


ul.referencement li a { color: transparent !important; }
